<div class="container">
	<h2>Your Profile</h3>
		<% if logged_in? && @user == current_user %>
			<div class="container">
				<%= link_to 'Edit', edit_user_path(@user), class: "card-link btn btn-outline-secondary"%>
				<%= link_to 'Delete account', user_path(@user), class: "card-link btn btn-outline-secondary text-danger", method: :delete, data: { confirm: "Are you sure?" }%>
			</div>
		<% end %>
		<div class="container">
			<%= render 'article' %>
		</div>
		<div class="container">
			<%= link_to 'Return to Blog', root_path %>
		</div>
</div>